<!DOCTYPE html >
<html lang="en" ng-app>
<head >
	<title >Data Binding</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="main.css"
	      rel="stylesheet" >
</head >

<body >

    <div ng-init="title='jonasta'; awesome=true;">
    <h1>{{title}} is awesome : {{awesome}}</h1>
        <input type="text" name="title" ng-model="title">
        <input type="checkbox" name="awesome" ng-model="awesome">
    </div>

<script src="../libs/angular/angular.min.js" ></script >
</body >
</html >
